@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black url(pacote-d013/imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 350px;
    background: url(pacote-d013/imagens/frame-iphone.png) center center no-repeat fixed;
}

iframe {
    position: absolute;
    top: 93px;
    left: 44px;
    height: 469px;
    width: 264px;
}

section#menu {
    text-align: right;
}

#menu > a >img{
    margin: 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

#menu > a > img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);
    transition: transform .3s;
}